.App {
  display: flex;
  flex-direction: column;
  align-items: flex;
}

.navbar {
  width: 100%;
  display: flex;
  position: absolute;
  margin-right: auto; 
  margin-left: 0;
  top: 0;
}

.navbar aside {
  background-color: #779ecb;
  width: 18.75rem;
  height: 100vh;
}

.navbar .container {
  margin: 6em 1em;
}

.navbar .btn-container {
  position: fixed;
}

.navbar .container a {
  color: #f9fafb;
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: 600;
  display: block;
  margin: 20px;
}

.navbar button {
  color: white;
  position: fixed;
  cursor: pointer;
  font-size: 70px;
  border: none;
  background-color: transparent;
  margin-top: 15px;
  margin-left: 15px;
}

.LoginButton {
  display: right;
  text-align: right; 
  position: fixed;
  top: 0px;
  right: 0px;
}

.LoginButton a {
  text-decoration: none;
  color: inherit;
}

.LoginButton .login-button{
  margin: 25px;
  font-size: 25px;
  padding: 15px;
  border: 3px solid white;
  color: white;
  background: transparent;
  transition: .2s ease-in-out 0s;
}
.LoginButton .login-button:hover{
  cursor: pointer;
  transform: scale(1.25);
  border: 3px solid #90EE90;
  background: transparent;
  color: #90EE90;
}

.watermark {
  display: right;
  text-align: right; 
  position: fixed;
  background-color: white;
  width: 200;
  height: 100;
  bottom: -10px;
  right: -20px;
  border-top-left-radius: 30px;
}

.Welcome {
  display: center;
  text-align: center; 
  position: fixed;
  top: 25%;
  left: 19%;
}
.Welcome a {
  text-decoration: none;
  color: inherit;
}
.Welcome .welcome-button{
  margin: 25px;
  font-size: 200px;
  padding: 15px;
  color: white;
  background: transparent;
  transition: .2s ease-in-out 0s;
}
.Welcome .welcome-button:hover{
  cursor: pointer;
  transform: scale(1.25);
  background: transparent;
  color: #90EE90;
}

.Background {
  width: 100%;
  display: flex;
  position: absolute;
  margin-right: auto; 
  margin-left: 0;
  top: 0;
}

/* Login */
.login-page{
  display: center;
  flex-direction: column;
  text-align: center; 
  position: fixed;
  top: 100px;
  right: 50%;
}
.enter-button {
  position: fixed;
  margin: 6em -1.9em;
  font-size: 35px;
  padding: 15px;
  border: 3px solid white;
  color: white;
  background: transparent;
  transition: .2s ease-in-out 0s;
}
.enter-button:hover{
  cursor: pointer;
  transform: scale(1.25);
  border: 3px solid white;
  background: transparent;
  color: white;
}
.Login .user-side {
  display: left;
  flex-direction: column;
  text-align: left; 
  position: fixed;
  top: 0px;
  left: 0px;
}
.Login .pass-side {
  display: right;
  flex-direction: column;
  text-align: right;
  position: fixed;
  top: 0px;
  left: 0px;
}

.user-box {
  position: fixed;
  display: center;
  margin-top: 50px;
  margin-right: 800px;
  background-color: white;
  font-size: 25px;
  color: black;
}


.pass-box {
  position: fixed;
  display: center;
  background-color: white;
  font-size: 25px;
  color: black;
}

.Home form {
  display: center;
  flex-direction: column;
  margin-top: 30px;
}
.Login input {
  margin-bottom: 1em;
}
/* Home */
.Home {
  display: center;
  text-align: center; 
  position: fixed;
  top: 20px;
  right: 25%;
}
.Home form {
  display: center;
  flex-direction: column;
  margin-top: 30px;
}
.Home a {
  text-decoration: none;
  color: inherit;
}
.Home .add-course-btn{
  margin: 25px;
  font-size: 25px;
  padding: 15px;
  border: 3px solid white;
  color: white;
  background: transparent;
  transition: .2s ease-in-out 0s;
}
.Home .add-course-btn:hover{
  cursor: pointer;
  transform: scale(1.15);
  border: 2px solid white;
  background: transparent;
  color: white;
}
.Home form select {
  margin-bottom: 1em;
}
.Home .add-btn button{
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 20px;
  padding: 15px;
  border: 3px solid white;
  color: white;
  background: transparent;
  transition: .2s ease-in-out 0s;
}
.Home .add-btn button:hover{
  cursor: pointer;
  transform: scale(1.15);
  border: 2px solid white;
  background: transparent;
  color: white;
}
.Home .cancel-btn button{
  font-size: 20px;
  padding: 15px;
  margin-bottom: 20px;
  border: 3px solid white;
  color: white;
  background: transparent;
  transition: .2s ease-in-out 0s;
}
.Home .cancel-btn button:hover{
  cursor: pointer;
  transform: scale(1.15);
  border: 2px solid white;
  background: transparent;
  color: white;
}
.Home label{
  color: white;
  display: center;
  flex-direction: column;
  display: center;
  flex-direction: column;
  margin-top: 30px;
}

.card-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.ClassCard {
  position: flex;
  border: 3px solid white;
  width: 250px;
  height: 170px;
  background-color: white;
}

.Assignment {
  display: center;
  position: fixed;
}
/* Assignments */
.create-new {
  display: flex;
  justify-content: center;
  width: 900px;
  height: 150px;
  text-align: center;
  background: #779ecb;
  border-radius: 30px;
  left: 50%;
  transform: translate(-50%, 20%);
  border: 1.5px solid white;
}
.assign {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
}
.ClassAssignments {
  width: 900px;
  height: 150px;
  text-align: center;
  background: #779ecb;
  border-radius: 30px;
  position: flex;
  border: 3px solid white;
  left: 50%;
  transform: translate(-15%, 20%);
  border: 1.5px solid white;
}
.existing-assignments {
  top: 40px;
}

/* Course */
.Course {
  display: flex;
  position: fixed;

}
.assignment-pdf {
  top: 50%;
  left: 50%;
  transform: translate(-30%, 20%);
  border: 1.5px solid white;
  width: 500px;
}
.file-submission {
  width: 400px;
  height: 280px;
  text-align: center;
  background: #779ecb;
  border-radius: 30px;
  top: 50%;
  right: -40%;
  transform: translate(0%, 20%);
}
.add-file {
  font-size: 20px;
  margin-top: 50px;
}
.submit-file {
  margin-top: 60px;
  font-size: 25px;
  padding: 15px;
  border: 3px solid white;
  color: white;
  background: transparent;
  transition: .2s ease-in-out 0s;
}
.submit-file:hover{
  cursor: pointer;
  transform: scale(1.25);
  border: 3px solid white;
  background: transparent;
  color: white;
}
.feedback {
  width: 400px;
  height: 280px;
  text-align: left;
  background: #779ecb;
  border-radius: 30px;
  top: 40%;
}
.answer {
  top: 5px;
  padding: 15px;
  font-size: 23px;
}

/*Login Page*/
*, *:before, *:after, ul, li, a, button, input, h1, h2, h3, h4, h5, h6, p, img, image, svg, path, g, canvas {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-family: 'Roboto';
  user-select: none;
  list-style: none;
  position: relative;
}
.html, body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.12);
  background-color: #f2f8ff;
  text-transform: capitalize;
  cursor: pointer;
}
.button:hover, .button:focus {
  transition: 0.15s ease-in-out;
}
.login-container {
  border-radius: 30px;
  width: 400px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: #779ecb;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}
.login-container .title {
  text-transform: capitalize;
  color: white;
  font-size: 1.6em;
  font-weight: 350;
  padding: 60px 0;
  padding-bottom: 10px;
}
.login-container .login-button {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 60%;
  padding: 20px 15px;
  background-color: lightsteelblue;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 40px 0;
}
.login-container .login-button:hover, .login-container .login-button:focus {
  box-shadow: 0px 3px 20px 3px rgba(0, 122, 255, 0.3);
  background-color: lightsteelblue;
}
.fluid-input {
  width: 80%;
  height: 50px;
  max-width: 450px;
  position: relative;
}
.fluid-input-bg {
  width: calc(100% - 10%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  position: absolute;
  left: 5%;
  top: 0;
  color: gray;
  font-weight: 400;
  font-size: 0.9em;
  transition: 0.3s ease-in-out;
  text-transform: capitalize;
}
.fluid-input-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  will-change: transform, box-shadow;
  transition: 0.2s ease-in-out;
  background-color: gray;
}
.fluid-input-input {
  width: inherit;
  height: inherit;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: lightgray;
  font-size: 1.05em;
  padding: 0 5%;
}
.fluid-input-input:focus {
  outline: None;
}
.fluid-input-label {
  width: calc(100% - 10%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  position: absolute;
  font-size: 1em;
  left: 5%;
  top: 0;
  color: white;
  font-weight: 400;
  text-transform: capitalize;
  pointer-events: none;
  transition: transform 0.2s ease-in-out, font-size 0.2s 0.15s ease-in-out;
  will-change: transform, font-size;
}
.fluid-input--focus .fluid-input-holder {
  box-shadow: 0px 5px 20px 0px rgba(0, 12, 47, 0.3);
}
.fluid-input--focus .fluid-input-bg {
  transform: translateY(-40px);
  transition: 0.2s 0.2s ease-in-out;
}
.fluid-input--focus .fluid-input-label {
  transform: translateY(-40px);
}
.fluid-input--open .fluid-input-label {
  transform: translateY(-40px);
}
/*Assignment*/
.assignment-form {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.assignment-form input{
  background-color: white;
  padding: .2em;
  font-size: 1.2rem;
}
.assignment-form-btn-group {
  display: flex;
}
.assignment-form-btn-group button {
  border: 1px solid black;
  flex: 1;
  font-size: 1.2rem;
}